extends layout

block content
  ._full._flex_v_h_r
    .wrapper._title
      .-error-404-icon
        include ui/icons/404
      h1 Opp's, Looks like you're lost.
      p Hit back on the browser or click the button below to take you home.
      a.-btn(href='/') Home