#in-development._flex_v_h_r
  .wrapper._title
    .-gear-icon
      include ../ui/icons/gear
    h1 This content is currently in development.
    p Please be patient and we'll get it up and running as soon as possible :).
    a.-btn(href='/') Home