extends ../layout

block content
  include ../ui/header
  ._full
    ._full._flex_v_h_r._relative._hide_flow
      ._title
        h1 If you're looking for Natural, Delicious and Kiwi Made Beverage's. Look no further.
        p Nectar's Low Sugar and Eco Friendly Peach Tea Beverage has just hit Dairies, Artisan Food Stores and Cafes around NZ. Get in touch with us to get your hands on a sample and test it out!
        ._flex_h
          a.-btn(href='/contact') CONTACT
          a.-btn(href='/about') NECTAR
      .-img-wrapper
  include ../ui/footer



